* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

body::after {
    content: "";
    background: url(images/z.jpg);
    opacity: 0.5;
    top: 0;
    left: 0;
    right: 0;
    position:fixed;
    z-index: -1;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 100%;
    margin: 0;

}




/* This is header*/


.navbar-expand-lg {
    display: inline;
    justify-content: space-between;
}

.nav-underline .nav-link {
    display: inline;
    padding-right: 70px;
    padding-left: 10px;
    font-size: 24px;
    font-family: 'Merriweather', serif;
    justify-content: space-between;
}


.nav-underline .nav-link:hover {
    color: rgb(245, 71, 100);
}

.dropdown-item {
    color: #07439C;
    font-size: 20px;
    font-family: 'Merriweather', serif;
}

.dropdown-item:hover {
    text-decoration: underline;
    color: rgb(245, 71, 100);
}




.z { color: #07439C;
margin-top: 50px;
font-weight: 500;
font-family: Merriweather, Arial, Helvetica, sans-serif;
}






/* <!-- This is middle section TEXT --> */

section {
    display: inline-block;
    width: 900px;
    height: 618px;
    float: right;
}

h1 {
    color: rgb(214, 81, 103);
    text-align: left;
    font-family: Merriweather, Arial, Helvetica, sans-serif;
    font-size: 32px;
}

p {
    color: black;
    text-align: left;
    font-family: Merriweather, Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.72px;
   

}




.btn {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    margin-right: 30px;
    margin-bottom: 20px;
}

.projects{
    background-color: #07439C;
    color:white;
    font-family:'Roboto', Arial, Helvetica, sans-serif;

}

.projects:hover {
    background-color: pink;
    text-decoration: none;
    transition: all 0.5s ease-in;
    color: #07439C;
}


.contactButton {
background-color: pink;
color: #07439C;
font-family:'Roboto', Arial, Helvetica, sans-serif;
font-weight: 600;
}

.contactButton:hover {
    background-color: #07439C;
    text-decoration: none;
    transition: all 0.5s ease-in;
    color: pink;
    
    
}

.btnMy{ align-items: center;}